* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight {
  min-height: 100%;
}

.cardProduct {
  min-height: 100%;
}

.registerMessage {
  font-style: italic;
}

.adminBtn {
  width: 91px !important;
}

.productLabel {
  font-style: bold;
}

table {
  border-collapse: collapse; width: 100%;
  border: 1px solid;

}

th, td { 
  padding: 8px 16px;
  border: 1px solid;

}

th {
  background:#eee; 
}

